@layout CustomLayout
@page "/projects"
@using BlazorApp.HttpServices
@inject ProjectHttpService projectHttpService
@inject NavigationManager Navigation

<div class="container">
    <div class="row justify-content-center center-align">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Project List</h4>
                    <p class="card-description">
                        <div class="list-card-header d-flex justify-content-between">
                            <NavLink href="/project/create" class="btn btn-primary"><i class="bi bi-file-earmark-plus"></i> Create</NavLink>
                        </div>
                    </p>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Project Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var p in projectList)
                                {
                                    <tr>
                                        <td>@p.Description</td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <a class="btn btn-info btn-action" @onclick="@(() => Navigation.NavigateTo($"/project/edit/{p.Oid}"))" data-toggle="tooltip" title="Edit">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>
                                                <a class="btn btn-danger btn-action" @onclick="@(() => Navigation.NavigateTo($"/project/delete/{p.Oid}"))" data-toggle="tooltip" title="Delete">
                                                    <i class="bi bi-trash3"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private List<Project> projectList;
    private Project newExpenseCategory;

    protected override async Task OnInitializedAsync()
    {
        await GetAllProjects();
    }

    private async Task GetAllProjects()
    {
        projectList = await projectHttpService.GetProjectsAsync();
    }
}
<style>
    .center-align {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .btn {
        margin-right: 5px;
        padding: 5px 10px;
        font-size: 0.9rem;
    }

        .btn i {
            vertical-align: middle;
            margin-right: 5px;
        }
</style>
