@layout CustomLayout
@page "/issuelog/delete/{key}"
@using BlazorApp.HttpServices
@using static Utilities.Constants.Enums
@inject IssueLogHttpService issueLogHttpService
@inject NavigationManager Navigation

<div class="container">
    <h3>Delete IssueLog</h3>

    @if (issueLog == null)
    {
        <LoadingIndicator />
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            <p>Are you sure you want to delete the IssueLog <strong>@issueLog.IncidentCategory</strong>?</p>
            <button class="btn btn-danger" @onclick="DeleteIssueLog">Delete</button>
            <button class="btn btn-light" @onclick="Cancel">Cancel</button>
        </div>
    }
</div>

@code {
    private IssueLog issueLog;
    private List<UserAccount> userAccounts;
    private List<Module> modules;

    [Parameter]
    public string key { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!string.IsNullOrEmpty(key))
        {
            issueLog = await issueLogHttpService.GetIssueLogByIdAync(Guid.Parse(key));
        }

        userAccounts = await issueLogHttpService.GetUserAccountsAsync();
        modules = await issueLogHttpService.GetModulesAsync();
    }

    private async Task DeleteIssueLog()
    {
        try
        {
            await issueLogHttpService.DeleteIssueLogAsync(key);
            Navigation.NavigateTo("/issue-list");

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/issue-list");
    }
}
<style>
    body {
    }

    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
    }

    .alert {
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 20px;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
    }

        .btn-danger:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }

    .btn-secondary {
        background-color: #6c757d;
        border-color: #6c757d;
    }

        .btn-secondary:hover {
            background-color: #545b62;
            border-color: #545b62;
        }

</style>